[Unit]
Description=LIRC changer service
After=

[Service]
ExecStartPre=ir-keytable -c -w /storage/.config/rc_keymaps/apple_a1156 -D 80 -P 80 
ExecStart=/storage/lirc.changer/lirc.changer
WorkingDirectory=/storage/lirc.changer
StandardOutput=append:/storage/lirc.changer/logs/service.log
StandardError=append:/storage/lirc.changer/logs/service.err
Restart=always
User=root
TimeoutStopSec=30
Restart=always
RestartSec=5
StartLimitInterval=0

[Install]
WantedBy=kodi.target
